body {
  text-align: center;
  padding: 0px;
  margin: 0px;
  background: white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  font-size: 0.75em;
}

img {
  width: 350px;
  max-width: 100%;
  height: auto;
}

#content {
  display: flex;
  flex-wrap: wrap;
  flex-flow: center;
  margin: auto;
  padding: 10px;
  justify-content: space-around;
}


#welcome-section {
  width: 100%;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.project-tile {
   padding: 10px;
   width: 800px;
   margin: auto;
}

.project-tile:hover {
  background-color: #cccc00;
}

.tile-link {
  display: block;
  height: 100%;
  width: 100%;
}

#contact {
  text-align: center;
}

.logo {
  height: 32px;
  width: auto;
}

table, th, td {
  border: 0em solid gray;
  padding: 10px;
  margin: auto;
}

td {
	border: 0.1em solid gray;
}

.disabled {
  pointer-events: none;
}

.spacer {
  height:3em;
  background: gray;
}

@media only screen and (max-width: 900px) {
  body {
    background-color: white;
  }
}
